<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p>Completed: <%= @task.completed? ? "Finished ✅" : "Open ❌" %></p>


<%= link_to "Edit Task", "#{@task.id}/edit" %>


<hr>

<%= link_to "Back to Task Overview", "/tasks" %>



